<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="header">
      <a href="#default"
        ><img src="/images/cookpot.svg" alt="Company Logo"
      /></a>

      <div class="header-right">
        <input class="addrecipe" type="button" value="Add Recipe" />
        <a class="active" href="/main">Home</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
      </div>
    </div>

    <!-- Page-specific (main) content here -->
    <main class="container"></main>

    <div class="favourtiesboxes"><div>
      
    </div>
  </body>
</html>
