<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./partials/_header'); -%>

    <section>
      <h1 class="favouriteRecipeHeader"> 
        Favourite Recipes:
      </h1>
      <table id="favrecipesdisplay">
        <tbody>
        <% for(const element of favrecipe) { %>
          <tr>
            <td><%= element %></td>
            <td>
              <form method="POST" action="/favrecipes/<%=element%>/delete">
                <button
                  type="submit"
                  class="delete-primary"
                >
                  Delete
                </button>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
    </section>

    <!-- Page-specific (main) content here -->
    <main class="container"></main>
  </body>
</html>
