<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script type="text/javascript" src="/scripts/client.js"></script>
  </head>
  <body>
    <div class="header">
      <a href="#default"
        ><img src="/images/cookpot.svg" alt="Company Logo"
      /></a>

      <div class="header-right">
        <input class="addrecipe" type="button" value="Add Recipe" />
        <a class="active" href="#home">Home</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="/favourites">Favourites</a>
      </div>
    </div>

    <div class="boxes">
      <div>
        <form class="submitform">
          <p>What are you looking for?</p>
          <div>
            <input
              type="radio"
              id="side"
              name="full_course_meal_type"
              value="Side"
            />
            <label for="side">Side</label><br />
          </div>
          <div>
            <input
              type="radio"
              id="maindish"
              name="full_course_meal_type"
              value="Main Dish"
            />
            <label for="maindish">Main Dish</label><br />
          </div>
          <div>
            <input
              type="radio"
              id="dessert"
              name="full_course_meal_type"
              value="Dessert"
            />
            <label for="dessert">Dessert</label><br />
          </div>
          <div>
            <input
              type="radio"
              id="entiremeal"
              name="full_course_meal_type"
              value="Entire Meal"
            />
            <label for="entire meal">Entire Meal</label><br />
          </div>
          <input class="buttonLetsCook" type="button" value="Let's Cook" />
        </form>
      </div>
      <div class="boxmealdish">
        <div class="meal-dish">
          <img src="/images/cookpot.svg" alt="Meal Logo" />
        </div>
        <h1 class="headercaption"></h1>
        <p class="captiondish"></p>

        <div id="star">
          <svg
            width="42px"
            height="40px"
            viewBox="0 0 42 40"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <path
              d="M21,34 L10.4346982,39.5545079 C8.47875732,40.5828068 7.19697214,39.6450119 7.56952871,37.4728404 L9.5873218,25.7082039 L1.03981311,17.3764421 C-0.542576313,15.8339937 -0.0467737017,14.3251489 2.13421047,14.0082334 L13.946577,12.2917961 L19.2292279,1.58797623 C20.2071983,-0.393608322 21.7954064,-0.388330682 22.7707721,1.58797623 L28.053423,12.2917961 L39.8657895,14.0082334 C42.0525979,14.3259953 42.5383619,15.8381017 40.9601869,17.3764421 L32.4126782,25.7082039 L34.4304713,37.4728404 C34.8040228,39.6508126 33.5160333,40.5800681 31.5653018,39.5545079 L21,34 Z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
    <button class="buttonclear" type="button">Clear</button>

    <!-- Page-specific (main) content here -->
    <main class="container"></main>
    <footer class="footer">
      <div class="recipefooter">
        <label for="inputtype">Recipe Type: </label>
        <input type="text" id="inputtype" name="inputtype" />
        <label for="inputname">Recipe Name: </label>
        <input type="text" id="inputname" name="inputname" />
        <button class="buttonaddnewrecipe" type="button">
          Add New Recipe!
        </button>
      </div>
    </footer>
  </body>
</html>
